@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Noe Display';
  src: url('/fonts/Noe_Display.ttf');
}

@font-face {
  font-family: 'Pink Yellow Black';
  src: url('/fonts/Pink_Yellow_Black.ttf');
}

@font-face {
  font-family: 'Astroz Trial';
  src: url('/fonts/Astroz_Trial.ttf');
}

@font-face {
  font-family: 'Moldyen';
  src: url('/fonts/Moldyen.ttf');
}

.rainbow-box {
  border: 0.1px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  margin: 20px auto;
}

*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', 'Noe Display', 'Pink Yellow Black';
}

table {
  border: 1px solid #ff5277;
}

th,
td {
  border: 1px solid #ff5277;
  padding: 2px 0;
  text-align: center;
}

.li {
  text-decoration: none;
  position: relative;
  color: inherit;
}

.li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #ff5277;
}

.re_li {
  text-decoration: none;
  position: relative;
  color: inherit;
}

.re_li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #000000;
  transform: scaleX(0);
  transform-origin: right;
  -webkit-transition: transform 250ms ease-in;
  -moz-transition: transform 250ms ease-in;
  -ms-transition: transform 250ms ease-in;
  -o-transition: transform 250ms ease-in;
  transition: transform 250ms ease-in;
}
.re_li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Tracks */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #881338;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
